.boton {
    background-color: rgb(226, 43, 89);
    text-align: center;
    color: rgb(160, 221, 168);
    border-radius: 20px;
    border: 1px solid black;

    &:hover {
        filter: opacity(85%);
    }
}

.botonRojo {
    @extend .boton;
    background-color: red;
    color: yellow;
}

.botonVerde {
    @extend .boton;
    background-color: green;
    color: yellow;
}