@mixin fontSize ($size, $weigth) {
    font-size: $size;
    font-weight: $weigth;
}

.letraChica {
    @include fontSize(1rem, 100);
}

.letraMediana {
    @include fontSize(2rem, 500 )
}

.letraGrande {
    @include fontSize(3rem, 700);
    margin: auto;
}