$white: #fff;
$black: #000;
$blue: cadetblue;
$background-color-h1: rgb(255, 149, 88);
$background-color-100: rgb(253, 136, 132);
$background-color-50: rgb(255, 147, 74);
$background-color-main: cornsilk;
$background-color-footer: cadetblue;
$background-color-header: cadetblue;
$font-size: 20px;
$font-weight: bold;